In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression


import joblib

In [2]:
data = pd.read_csv('Flight_Train.csv')

In [3]:
data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [5]:
data.duplicated().sum()

220

In [6]:
# Duplicate handling
data.drop_duplicates(inplace = True)

In [7]:
data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
# Null Value dropping
data.dropna(subset = ['Route','Total_Stops'],inplace = True)

In [15]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator,TransformerMixin

In [16]:
class CustomTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        print('\n>>>>>>>init() called.\n')
    def fit(self, X, y = None):
        print('\n>>>>>>>fit() called.\n')
        return self
    def transform(self, X, y = None):
        print('\n>>>>>>>transform() called.\n')
        print("\n>>>> Input : ",X)
        X.drop(columns = 'Route',inplace = True)
        X['Source'] = X['Source'].apply(lambda x: x.lower())
        X['Destination'] = X['Destination'].replace({'New Delhi':'Delhi'})
        X['Destination'] = X['Destination'].apply(lambda x: x.lower())
        X['Date_of_Journey'] = pd.to_datetime(X['Date_of_Journey'],dayfirst = True)
        X['Day_of_Journey'] = X['Date_of_Journey'].dt.weekday
        X['Day_of_Journey'] = X['Day_of_Journey'].replace({0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'})
        X['Month'] = X['Date_of_Journey'].dt.month
        X['Month'] = X['Month'].replace({1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'})
        X.drop(columns = 'Date_of_Journey',inplace = True)
        X.loc[X['Dep_Time'] < '12:00','Dep_Time']='AM'
        X.loc[X['Dep_Time'] !='AM','Dep_Time']='PM'
        X['Arrival_Time'] = X['Arrival_Time'].apply(lambda x: x.split()[0])
        X.loc[X['Arrival_Time'] < '12:00','Arrival_Time']='AM'
        X.loc[X['Arrival_Time'] !='AM','Arrival_Time']='PM'
        X['Additional_Info'].replace({'No info':'No Info'},inplace = True)
        print("\n>>>> Output : ", X)
        return X

In [34]:
class CustomTransformer1(BaseEstimator, TransformerMixin):
    def __init__(self):
        print('\n>>>>>>>init() called.\n numerical')
    def fit(self, X, y = None):
        print('\n>>>>>>>fit() called.\n numerical')
        return self
    def transform(self, X, y = None):
        print('\n>>>>>>>transform() called.\n numerical')
        print("\n>>>> Input : ",X)
        X['Duration'] = (pd.to_timedelta(X['Duration']).dt.seconds // 60).astype(int)
        #X.drop(columns = 'Duration',inplace = True)
        #DF = pd.DataFrame(X['Duration'])
        print("\n>>>> Output : ",X)
        return X

In [42]:
categorical_preprocessing = Pipeline([
    ('custom transforming',CustomTransformer()),
    ('encoding',OneHotEncoder(sparse = False))    
])

>>>>>>>init() called.

In [43]:
numerical_preprocessing = Pipeline([
    ('custom transforming',CustomTransformer1()),
    ('scaling',MinMaxScaler())
])

>>>>>>>init() called.
 numerical

In [44]:
Final_preprocessing = ColumnTransformer(
transformers = 
    [
    ('categorical preprocessing',categorical_preprocessing,['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
    'Dep_Time', 'Arrival_Time','Total_Stops','Additional_Info']),
    ('numerical preprocessing',numerical_preprocessing,['Duration'])      
])

In [45]:
package = Pipeline([
    ('preprocess',Final_preprocessing),
    ('model',LinearRegression())
])

In [46]:
x = data.drop(columns = ['Price'])

In [47]:
y = data['Price']

In [48]:
package.fit(x,y)

>>>>>>>init() called.


>>>>>>>fit() called.


>>>>>>>transform() called.


>>>> Input :             Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Total_Stops  \
0                  BLR ? DEL    22:20  01:10 22 Mar    non-stop
1      CCU ? IXR ? BBI ? BLR    05:50         13:15     2 stops
2      DEL ? LKO ? BOM ? COK    09:25  04:25 10 Jun     2 stops
3            CCU ? NAG ? BLR    18:05         23:30      1 stop
4            BLR ? NAG ? DEL    16:50         21:35      1 stop
...                      ...      ...           ...         ...
10678              CCU ? BLR    19:55         22:25    non-stop
10679              CCU ? BLR    20:45         23:20    non-stop
10680              BLR ? DEL    08:20         11:20    non-stop
10681              BLR ? DEL    11:30         14:10    non-stop
10682  DEL ? GOI ? BOM ? COK    10:55         19:15     2 stops

      Additional_Info
0             No info
1             No info
2             No info
3             No info
4             No info
...               ...
10678         No info
10679         No info
10680         No info
10681         No info
10682         No info

[10462 rows x 9 columns]

>>>> Output :             Airline    Source Destination Dep_Time Arrival_Time Total_Stops  \
0           IndiGo  banglore       delhi       PM           AM    non-stop
1        Air India   kolkata    banglore       AM           PM     2 stops
2      Jet Airways     delhi      cochin       AM           AM     2 stops
3           IndiGo   kolkata    banglore       PM           PM      1 stop
4           IndiGo  banglore       delhi       PM           PM      1 stop
...            ...       ...         ...      ...          ...         ...
10678     Air Asia   kolkata    banglore       PM           PM    non-stop
10679    Air India   kolkata    banglore       PM           PM    non-stop
10680  Jet Airways  banglore       delhi       AM           AM    non-stop
10681      Vistara  banglore       delhi       AM           PM    non-stop
10682    Air India     delhi      cochin       AM           PM     2 stops

      Additional_Info Day_of_Journey  Month
0             No Info         Sunday  March
1             No Info      Wednesday    May
2             No Info         Sunday   June
3             No Info         Sunday    May
4             No Info         Friday  March
...               ...            ...    ...
10678         No Info        Tuesday  April
10679         No Info       Saturday  April
10680         No Info       Saturday  April
10681         No Info         Friday  March
10682         No Info       Thursday    May

[10462 rows x 9 columns]

>>>>>>>init() called.
 numerical

>>>>>>>fit() called.


>>>>>>>transform() called.


>>>> Input :        Duration
0       2h 50m
1       7h 25m
2          19h
3       5h 25m
4       4h 45m
...        ...
10678   2h 30m
10679   2h 35m
10680       3h
10681   2h 40m
10682   8h 20m

[10462 rows x 1 columns]

>>>> Output :         Duration
0           170
1           445
2          1140
3           325
4           285
...         ...
10678       150
10679       155
10680       180
10681       160
10682       500

[10462 rows x 1 columns]

C:\Users\janani.jayavel\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('categorical preprocessing',
                                                  Pipeline(steps=[('custom '
                                                                   'transforming',
                                                                   CustomTransformer()),
                                                                  ('encoding',
                                                                   OneHotEncoder(sparse=False))]),
                                                  ['Airline', 'Date_of_Journey',
                                                   'Source', 'Destination',
                                                   'Route', 'Dep_Time',
                                                   'Arrival_Time',
                                                   'Total_Stops',
                                                   'Additional_Info']),
                                                 ('numerical preprocessing',
                                                  Pipeline(steps=[('custom '
                                                                   'transforming',
                                                                   CustomTransformer1()),
                                                                  ('scaling',
                                                                   MinMaxScaler())]),
                                                  ['Duration'])])),
                ('model', LinearRegression())])

In [49]:
package.predict(x)

>>>>>>>transform() called.


>>>> Input :             Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Total_Stops  \
0                  BLR ? DEL    22:20  01:10 22 Mar    non-stop
1      CCU ? IXR ? BBI ? BLR    05:50         13:15     2 stops
2      DEL ? LKO ? BOM ? COK    09:25  04:25 10 Jun     2 stops
3            CCU ? NAG ? BLR    18:05         23:30      1 stop
4            BLR ? NAG ? DEL    16:50         21:35      1 stop
...                      ...      ...           ...         ...
10678              CCU ? BLR    19:55         22:25    non-stop
10679              CCU ? BLR    20:45         23:20    non-stop
10680              BLR ? DEL    08:20         11:20    non-stop
10681              BLR ? DEL    11:30         14:10    non-stop
10682  DEL ? GOI ? BOM ? COK    10:55         19:15     2 stops

      Additional_Info
0             No info
1             No info
2             No info
3             No info
4             No info
...               ...
10678         No info
10679         No info
10680         No info
10681         No info
10682         No info

[10462 rows x 9 columns]

>>>> Output :             Airline    Source Destination Dep_Time Arrival_Time Total_Stops  \
0           IndiGo  banglore       delhi       PM           AM    non-stop
1        Air India   kolkata    banglore       AM           PM     2 stops
2      Jet Airways     delhi      cochin       AM           AM     2 stops
3           IndiGo   kolkata    banglore       PM           PM      1 stop
4           IndiGo  banglore       delhi       PM           PM      1 stop
...            ...       ...         ...      ...          ...         ...
10678     Air Asia   kolkata    banglore       PM           PM    non-stop
10679    Air India   kolkata    banglore       PM           PM    non-stop
10680  Jet Airways  banglore       delhi       AM           AM    non-stop
10681      Vistara  banglore       delhi       AM           PM    non-stop
10682    Air India     delhi      cochin       AM           PM     2 stops

      Additional_Info Day_of_Journey  Month
0             No Info         Sunday  March
1             No Info      Wednesday    May
2             No Info         Sunday   June
3             No Info         Sunday    May
4             No Info         Friday  March
...               ...            ...    ...
10678         No Info        Tuesday  April
10679         No Info       Saturday  April
10680         No Info       Saturday  April
10681         No Info         Friday  March
10682         No Info       Thursday    May

[10462 rows x 9 columns]

>>>>>>>transform() called.


>>>> Input :        Duration
0       2h 50m
1       7h 25m
2          19h
3       5h 25m
4       4h 45m
...        ...
10678   2h 30m
10679   2h 35m
10680       3h
10681   2h 40m
10682   8h 20m

[10462 rows x 1 columns]

>>>> Output :         Duration
0           170
1           445
2          1140
3           325
4           285
...         ...
10678       150
10679       155
10680       180
10681       160
10682       500

[10462 rows x 1 columns]

array([ 6147., 10773., 15802., ...,  9165.,  8687., 10403.])

In [50]:
test_data = pd.read_csv('Flight_Test.csv')

In [51]:
test_data.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info

In [52]:
package.predict(test_data)

>>>>>>>transform() called.


>>>> Input :                  Airline Date_of_Journey    Source Destination  \
0           Jet Airways       6/06/2019     Delhi      Cochin
1                IndiGo      12/05/2019   Kolkata    Banglore
2           Jet Airways      21/05/2019     Delhi      Cochin
3     Multiple carriers      21/05/2019     Delhi      Cochin
4              Air Asia      24/06/2019  Banglore       Delhi
...                 ...             ...       ...         ...
2666          Air India       6/06/2019   Kolkata    Banglore
2667             IndiGo      27/03/2019   Kolkata    Banglore
2668        Jet Airways       6/03/2019     Delhi      Cochin
2669          Air India       6/03/2019     Delhi      Cochin
2670  Multiple carriers      15/06/2019     Delhi      Cochin

                Route Dep_Time  Arrival_Time Total_Stops  \
0     DEL ? BOM ? COK    17:30  04:25 07 Jun      1 stop
1     CCU ? MAA ? BLR    06:20         10:20      1 stop
2     DEL ? BOM ? COK    19:15  19:00 22 May      1 stop
3     DEL ? BOM ? COK    08:00         21:00      1 stop
4           BLR ? DEL    23:55  02:45 25 Jun    non-stop
...               ...      ...           ...         ...
2666  CCU ? DEL ? BLR    20:30  20:25 07 Jun      1 stop
2667        CCU ? BLR    14:20         16:55    non-stop
2668  DEL ? BOM ? COK    21:50  04:25 07 Mar      1 stop
2669  DEL ? BOM ? COK    04:00         19:15      1 stop
2670  DEL ? BOM ? COK    04:55         19:15      1 stop

                  Additional_Info
0                         No info
1                         No info
2     In-flight meal not included
3                         No info
4                         No info
...                           ...
2666                      No info
2667                      No info
2668                      No info
2669                      No info
2670                      No info

[2671 rows x 9 columns]

>>>> Output :                  Airline    Source Destination Dep_Time Arrival_Time  \
0           Jet Airways     delhi      cochin       PM           AM
1                IndiGo   kolkata    banglore       AM           AM
2           Jet Airways     delhi      cochin       PM           PM
3     Multiple carriers     delhi      cochin       AM           PM
4              Air Asia  banglore       delhi       PM           AM
...                 ...       ...         ...      ...          ...
2666          Air India   kolkata    banglore       PM           PM
2667             IndiGo   kolkata    banglore       PM           PM
2668        Jet Airways     delhi      cochin       PM           AM
2669          Air India     delhi      cochin       AM           PM
2670  Multiple carriers     delhi      cochin       AM           PM

     Total_Stops              Additional_Info Day_of_Journey  Month
0         1 stop                      No Info       Thursday   June
1         1 stop                      No Info         Sunday    May
2         1 stop  In-flight meal not included        Tuesday    May
3         1 stop                      No Info        Tuesday    May
4       non-stop                      No Info         Monday   June
...          ...                          ...            ...    ...
2666      1 stop                      No Info       Thursday   June
2667    non-stop                      No Info      Wednesday  March
2668      1 stop                      No Info      Wednesday  March
2669      1 stop                      No Info      Wednesday  March
2670      1 stop                      No Info       Saturday   June

[2671 rows x 9 columns]

>>>>>>>transform() called.


>>>> Input :       Duration
0     10h 55m
1          4h
2     23h 45m
3         13h
4      2h 50m
...       ...
2666  23h 55m
2667   2h 35m
2668   6h 35m
2669  15h 15m
2670  14h 20m

[2671 rows x 1 columns]

>>>> Output :        Duration
0          655
1          240
2         1425
3          780
4          170
...        ...
2666      1435
2667       155
2668       395
2669       915
2670       860

[2671 rows x 1 columns]

array([12971.,  7901., 10069., ..., 14836., 10385., 10984.])

In [53]:
joblib.dump(package,'FlightPrice.pkl')

['FlightPrice.pkl']

In [54]:
model_load = joblib.load('FlightPrice.pkl')

In [55]:
model_load.predict(test_data)

>>>>>>>transform() called.


>>>> Input :                  Airline Date_of_Journey    Source Destination  \
0           Jet Airways       6/06/2019     Delhi      Cochin
1                IndiGo      12/05/2019   Kolkata    Banglore
2           Jet Airways      21/05/2019     Delhi      Cochin
3     Multiple carriers      21/05/2019     Delhi      Cochin
4              Air Asia      24/06/2019  Banglore       Delhi
...                 ...             ...       ...         ...
2666          Air India       6/06/2019   Kolkata    Banglore
2667             IndiGo      27/03/2019   Kolkata    Banglore
2668        Jet Airways       6/03/2019     Delhi      Cochin
2669          Air India       6/03/2019     Delhi      Cochin
2670  Multiple carriers      15/06/2019     Delhi      Cochin

                Route Dep_Time  Arrival_Time Total_Stops  \
0     DEL ? BOM ? COK    17:30  04:25 07 Jun      1 stop
1     CCU ? MAA ? BLR    06:20         10:20      1 stop
2     DEL ? BOM ? COK    19:15  19:00 22 May      1 stop
3     DEL ? BOM ? COK    08:00         21:00      1 stop
4           BLR ? DEL    23:55  02:45 25 Jun    non-stop
...               ...      ...           ...         ...
2666  CCU ? DEL ? BLR    20:30  20:25 07 Jun      1 stop
2667        CCU ? BLR    14:20         16:55    non-stop
2668  DEL ? BOM ? COK    21:50  04:25 07 Mar      1 stop
2669  DEL ? BOM ? COK    04:00         19:15      1 stop
2670  DEL ? BOM ? COK    04:55         19:15      1 stop

                  Additional_Info
0                         No info
1                         No info
2     In-flight meal not included
3                         No info
4                         No info
...                           ...
2666                      No info
2667                      No info
2668                      No info
2669                      No info
2670                      No info

[2671 rows x 9 columns]

>>>> Output :                  Airline    Source Destination Dep_Time Arrival_Time  \
0           Jet Airways     delhi      cochin       PM           AM
1                IndiGo   kolkata    banglore       AM           AM
2           Jet Airways     delhi      cochin       PM           PM
3     Multiple carriers     delhi      cochin       AM           PM
4              Air Asia  banglore       delhi       PM           AM
...                 ...       ...         ...      ...          ...
2666          Air India   kolkata    banglore       PM           PM
2667             IndiGo   kolkata    banglore       PM           PM
2668        Jet Airways     delhi      cochin       PM           AM
2669          Air India     delhi      cochin       AM           PM
2670  Multiple carriers     delhi      cochin       AM           PM

     Total_Stops              Additional_Info Day_of_Journey  Month
0         1 stop                      No Info       Thursday   June
1         1 stop                      No Info         Sunday    May
2         1 stop  In-flight meal not included        Tuesday    May
3         1 stop                      No Info        Tuesday    May
4       non-stop                      No Info         Monday   June
...          ...                          ...            ...    ...
2666      1 stop                      No Info       Thursday   June
2667    non-stop                      No Info      Wednesday  March
2668      1 stop                      No Info      Wednesday  March
2669      1 stop                      No Info      Wednesday  March
2670      1 stop                      No Info       Saturday   June

[2671 rows x 9 columns]

>>>>>>>transform() called.


>>>> Input :       Duration
0     10h 55m
1          4h
2     23h 45m
3         13h
4      2h 50m
...       ...
2666  23h 55m
2667   2h 35m
2668   6h 35m
2669  15h 15m
2670  14h 20m

[2671 rows x 1 columns]

>>>> Output :        Duration
0          655
1          240
2         1425
3          780
4          170
...        ...
2666      1435
2667       155
2668       395
2669       915
2670       860

[2671 rows x 1 columns]

array([12971.,  7901., 10069., ..., 14836., 10385., 10984.])

In [24]:
testsample = ['IndiGo','12/05/2019','Kolkata','Banglore','CCU ? MAA ? BLR','06:20','10:20','4h','1 stop','No info']

In [25]:
testsample = pd.DataFrame(testsample).T

In [26]:
testsample.columns = test_data.columns

In [27]:
testsample

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info

In [28]:
package.predict(testsample)

>>>>>>>transform() called.


>>>> Input :    Airline Date_of_Journey   Source Destination            Route Dep_Time  \
0  IndiGo      12/05/2019  Kolkata    Banglore  CCU ? MAA ? BLR    06:20

  Arrival_Time Total_Stops Additional_Info
0        10:20      1 stop         No info

>>>> Output :    Airline   Source Destination Dep_Time Arrival_Time Total_Stops  \
0  IndiGo  kolkata    banglore       AM           AM      1 stop

  Additional_Info Day_of_Journey Month
0         No Info         Sunday   May

>>>>>>>transform() called.


>>>> Input :    Duration
0       4h

>>>> Output :     Duration
0       240

array([7901.])